body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.light-bulb{
    width: 70px;
    height: 80px;
}
.light-off{
    background-color: grey;
}
label{
    margin-top: 10px;
    width: 150px;
}
.light-button{
    text-decoration: none;
    border: 1px solid black;
    background-color: silver;
    color: black;
    padding: 2px;
}